.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style0,
.web19201row0 {
  display: flex;
  margin-left: 0;
  height: 56.25vw
}
.web19201row0 {
  margin-top: 0;
  width: 55.520833333333336vw
}
.style0 {
  position: relative;
  width: 53.177083333333336vw;
  flex-direction: column
}
.web19201row0grid0column0 {
  display: flex;
  margin-top: 0;
  width: 5.208333333333333vw;
  height: 52.604166666666664vw;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style1,
.style17,
.style25,
.style33,
.style41,
.style49,
.style57,
.style9 {
  background-color: #1700ff;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.web19201row0grid0column1 {
  display: flex;
  margin-left: 1.9791666666666667vw;
  margin-top: 0;
  width: 5.208333333333333vw;
  height: 52.604166666666664vw;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style10,
.style18,
.style2,
.style26,
.style34,
.style42,
.style50,
.style58 {
  background-color: #1700ff;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.web19201row0grid0column2 {
  display: flex;
  margin-left: 1.9791666666666667vw;
  margin-top: 0;
  width: 5.208333333333333vw;
  height: 52.604166666666664vw;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style11,
.style19,
.style27,
.style3,
.style35,
.style43,
.style51,
.style59 {
  background-color: #1700ff;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.web19201row0grid0column3 {
  display: flex;
  margin-left: 1.9791666666666667vw;
  margin-top: 0;
  width: 5.208333333333333vw;
  height: 52.604166666666664vw;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style12,
.style20,
.style28,
.style36,
.style4,
.style44,
.style52,
.style60 {
  background-color: #1700ff;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.web19201row0grid0column4 {
  display: flex;
  margin-left: 1.9791666666666667vw;
  margin-top: 0;
  width: 5.208333333333333vw;
  height: 52.604166666666664vw;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style13,
.style21,
.style29,
.style37,
.style45,
.style5,
.style53,
.style61 {
  background-color: #1700ff;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.web19201row0grid0column5 {
  display: flex;
  margin-left: 1.9791666666666667vw;
  margin-top: 0;
  width: 5.208333333333333vw;
  height: 52.604166666666664vw;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style14,
.style22,
.style30,
.style38,
.style46,
.style54,
.style6,
.style62 {
  background-color: #1700ff;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.web19201row0grid0column6 {
  display: flex;
  margin-left: 1.9791666666666667vw;
  margin-top: 0;
  width: 5.208333333333333vw;
  height: 52.604166666666664vw;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style15,
.style23,
.style31,
.style39,
.style47,
.style55,
.style63,
.style7,
.style8 {
  background-color: #1700ff;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.style8 {
  position: relative;
  margin-left: 1.9791666666666667vw;
  margin-top: 0;
  flex-shrink: 0
}
.web19201row0column0 {
  display: flex;
  margin-left: 0;
  width: 53.177083333333336vw;
  height: 56.25vw;
  flex-direction: column
}
.style16,
.style24,
.style32,
.style40,
.style48,
.style56,
.style64 {
  background-color: #1700ff;
  margin-left: 50.3125vw;
  margin-top: 6.770833333333333vw;
  width: 5.208333333333333vw;
  height: 5.208333333333333vw
}
.style24,
.style32,
.style40,
.style48,
.style56,
.style64 {
  margin-top: 1.5625vw
}